<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/fontawesome/css/css/brands.css">
    <link rel="stylesheet" href="/fontawesome/css/css/solid.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin painel</title>
</head>
<body>
<%- include ('../partials/bobNavbar.ejs'); %>
<div class="container">
    <div class="mx-auto mt-4" style="text-align: center;">
        <h1>Nova Categoria</h1>
        <hr>
    </div>
<div class="mt-4">
<div class="box-post">
    <form novalidate method="POST" action="/bob/category/new/save">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nome da categoria</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Ex: Ciências, Artes, Cultura pop">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Sobre a categoria</label>
            <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva aqui..."></textarea>
          </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Escolha uma imagem relacionada ao tema</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Imagem</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Selecionar imagem icone</label>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
          <button type="submit" class="btn btn-primary btn-sl btn-m10">Criar categoria</button>
        </div>
    </form>
</div>
<hr>
</div>
</body>
<%- include ('../partials/footer.ejs'); %>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});
</script>
</html>