<!--nav-->
<nav class="navbar navbar navbar-dark bg navbar-expand-lg color-dark">
    <a class="navbar-brand" href="/home">
        <div class="logo-bar"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse color-w" id="navbarText">
    <ul class="navbar-nav mr-auto font-bebas">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      <!-- Botão para acionar modal -->
      <button type="button" class="btn btn-light font-bebas" data-toggle="modal" data-target="#modalExemplo">
        Fazer login
      </button>
    </span>
  </div>
</nav>
<!--End/nav-->