body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}
.config-box{
    background: #ffffff;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.config-box .pic-box{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid royalblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 2px;
}

@media(min-width:700px){
    .config-box{
        background: #ffffff;
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}